<template>
    <div>
        <br>
        <b-row>
            <b-col sm="1"></b-col>
            <b-col sm="5">
                <b-img src=https://cdn.pixabay.com/photo/2016/05/15/01/08/icon-1392950_960_720.png></b-img>
            </b-col>
            <b-col sm="5">
                <b-row>
                    <b-col sm="4">
                       
                    </b-col>
                    <b-col sm="5"><br>
                        <h3><b>M.Fuad Zikri</b></h3>
                    </b-col>
                    <b-col sm="3">
                        <b-img src=https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-75-512.png v-bind="profile" rounded="circle" alt="Circle image"></b-img>
                        
                    </b-col>
                </b-row>
                <br><br><br>
                <b-button block variant="dark"> Home</b-button>
                <b-button block variant="dark"> Explore</b-button>
                <b-button block variant="dark"> Activity </b-button> 
                <b-button block variant="dark"> Account</b-button>        
                <br>
            </b-col>
            <b-col sm="1">
            </b-col>
        </b-row>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                profile: {
                    width: 95,
                    height: 95,
                    class: 'm1'
                }
            }
        }
    }
</script>